.counter-container{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 80px;
background-color: black;
margin-left: 20%;
margin-right: 20%;
padding-bottom: 50px;
}

.header {
    color: black;
}
.head-container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
}

.counter-btn {
width: 150px;
height:50px;
font-size: 1.5em;
font-weight: bold;
margin: 0px 5px;
background-color: hsl(197, 100%, 50%);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.counter-display {
font-size: 8em;
margin-top: 0;
margin-bottom: 50px;
color: white;
}
.counter-btn:hover {
    background-color: hsl(197, 100%, 20%);
}